.ml-215 {
    margin-left: 215px;
}
.pt-17 {
    padding-top: 17px;
}
.p-r {
       position: relative;
}

.f-l {
    float: left;
}
.f-r {
    float: right;
}
.p-0-15 {
    padding: 0 15px;
}
.p-40-0 {
    padding: 40px 0;
}
.mr-40 {
    margin-right: 40px;
}
.w-122per {
    width: 122%;
}
.w-128per {
    width: 128%;
}
.w-132per {
    width: 132%;
}
.w-144per {
    width: 144%;
}
.w-110per {
    width: 110%;
}
.w-83per {
    width: 83%;
}
.w-65per {
    width: 65%;
}
.w-80per {
    width: 80%;
}
.w-88per {
    width: 88%;
}
.w-87per {
    width: 87%;
}
.w-70per {
    width: 70%;
}
.pt-25 {
    padding-top: 25px;
}
.pb-25 {
    padding-bottom: 25px;
}
.pb-35 {
    padding-bottom: 35px;
}
.pb-15 {
    padding-bottom: 15px;
}
.h-60 {
    height: 60px;
}
.mlr--15 {
    margin: 0 -15px;
}
.pl-47 {
    padding-left: 47px;
}
.m-0 {
    margin: 0;
}
.mr-25 {
    margin-right: 25px;
}
.mb-35 {
    margin-bottom: 35px;
}
.mb-25 {
    margin-bottom: 25px;
}
.pl-20 {
    padding-left: 20px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pl-15 {
    padding-left: 15px;
}
.pt-10 {
    padding-top: 10px;
}
.pl-60 {
    padding-left: 60px;
}
.m-0 {
    margin: 0;
}
.pr-15 {
    padding-right: 15px;
}
.pl-35 {
    padding-left: 35px;
}
.pb-60 {
    padding-bottom: 60px;
}
.pb-30 {
    padding-bottom: 30px;
}
.mr-5 {
    margin-right: 5px;
}
.pr-50 {
    padding-right: 50px;
}
.pl-0 {
    padding-left: 0;
}
.mr-5 {
    margin-right: 5px;
}
.ml-25 {
    margin-left: 25px;
}
.mr-20 {
    margin-right: 20px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mt--1 {
    margin-top: -1px;
}