.box {
    background-color: white;
    padding: 25px;
    box-shadow: 0 0 5px rgba(230,230,230,1)
}
.box__scroll {
    display: inline-flex;
    justify-content: space-between;
    border-bottom: 1px solid #eaeaea;
    align-items: flex-start;
    width: 100%;
}
.box__heading-text {
    display: block;
    text-transform: uppercase;
    font-size: 22px;
    font-family: 'LatoB', sans-serif;

}
.box__heading-text--feedback {
    border-bottom: 1px solid #eaeaea;
}
.box__heading-text--products {
    margin: 0;
    border: none;
}

.box__img {
    width: 100%;
}
.box__text-text {
    font-family: 'LatoR', sans-serif;
    font-size: 15px;
    text-align: center;
    color: #6e6e6e;
    margin-top: 20px;
}
.box__text-info {
    font-family: 'LatoR', sans-serif;
    font-size: 15px;
    text-align: center;
    color: #6e6e6e;
    margin-top: 0;
}

.box__text-numbers {
    font-size: 15px;
    line-height: 15px;
    text-align: center;
}

.box__text-numbers--old {
    display: inline;
    text-decoration: line-through;
    color: #636363;
}

.box__text-numbers--new {
    display: inline;
    color: #404040;
    margin-left: 15px;
}

.box__text-text--feedback {
    text-align: left;
}

.box__email {
    background-color: #f3f3f3;
    border: none;
    border-radius: 3px;
    width: 100%;
    padding: 15px 0;
    line-height: 15px;
}
.box__products {
    border-bottom: 1px solid #eaeaea;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

.box__cards {
    display: flex;
    transition: transform 0.6s ease;
}
.box__cards--featured {
    flex-wrap: wrap;
    align-content: space-between;
    height: 32vh;
    margin: 20px 0;
}

.box__cards-item {
    border: solid transparent 5px;
    flex: 0 0 25%;
    max-width: 25%;
        position: relative;
}


.box__cards-mini {
    border: solid transparent 5px;
    flex: 0 0 33.1%;
    max-width: 33.1%;
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    //width: 33%;
}
.box5 {
    display: none;
}
.box3,.box4,.box5 {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

@media all and (max-width: 768px) {
    .box__cards-item {
        flex: 0 0 50%;
        max-width: 50%;
}
    .box5 {
        display: inherit;
    }
    .box__none768 {
        display: none;
    }
    .box__cards--featured {
        flex-wrap: nowrap;
           height: auto;
         }
}
@media all and (max-width: 540px) {
    .box__cards-mini {
        flex: 0 0 50%;
        max-width: 50%;

}
}
@media all and (max-width: 320px) {
    .box__cards-item {
        flex: 0 0 100%;
        max-width: 100%;
    }
        .box__cards-mini {
            flex: 0 0 100%;
            max-width: 100%;
        }
}
