.container {
    max-width: 1180px;
    margin: 0 auto;
}
.container--hamburger {
    padding: 0 5px;
}
.container--header {
    display: flex;
}

@media screen and (max-width: 540px){
    .container--hamburger{
        align-items: center;
        justify-content: space-between;

    }
}