.container {
    max-width: 1180px;
    margin: 0 auto;
}

.container--header {
    display: flex;
}
@media screen and (max-width: 540px){
    .container--hamburger{
        display: flex;
        align-items: center;
        justify-content: space-between;

    }
}