.dropdown {
  display: none;
  line-height: 10px;
  right: 0;
    position: absolute;
  padding: 0 10px;
  border-radius: 10px;
  background-color: #87921d;
  z-index: 2;
}
.dropdown__menu {
  display: flex;
  flex-direction: column;
  cursor: auto;
}

.dropdown__item-link{
  text-transform: uppercase;
  height: 15px;
  font-family: 'LatoR', sans-serif;
  color: white;
    font-size: 10px;
  display: inline-flex;
  align-items: center;
}
.dropdown__item-link>a {
  text-decoration: none;
  cursor: pointer;
  color: #FFFFFF;
}
.dropdown__item-link>a:hover {
  color: #062c33;
}