.laptops {
  background: url(../image/laptops@2x.png) no-repeat center/cover;
  background-size: 100%;
  padding: 25px;
  display: inline-flex;
  width: 100%;
  flex-direction: row-reverse;
}
.laptops-text {
  width: 40%;
}
.laptops-heading {
  text-transform: uppercase;
  font-family: 'LatoBold', sans-serif;
  color: #000000;
  font-size: 22px;
  margin: 0;
}
.laptops-heading--ready {
  color: #0f8ce9;
}
@media all and (max-width: 768px) {
  .laptops {
    display: none;
  }
}