.navigation {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.navigation__inner {
    text-align: end;
    margin: 0;
    padding: 0;
}
.navigation--box {
    display: inline-flex;
    flex-direction: inherit;
    flex-grow: 0;
}

.navigation__item {
    display: inline-block;
    height: 15px;
    font-family: 'LatoR', sans-serif;
    position: relative;
}

.navigation__item-link {
    font-size: 12px;
    line-height: 15px;
    color: white;
    text-decoration: none;
    border-right: 1px solid white;
}

.navigation__item-link--box {
    border: none;
    color: #6e6e6e;
}


.navigation__item-link--last {
    border: none;
}

.navigation__menu {
    background: url("../image/icon/hamburger@2x.png") no-repeat 11%;
    background-size: 13%;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 50px;
    font-family: 'LatoBold', sans-serif;
    color: white;
    display: inline-block;
}
@media screen and (max-width: 1024px){
    .navigation--box>ul {
        padding-right: 5px;
            }
    .navigation__item {
        padding-left: 2px;
    }
}
@media screen and (max-width: 768px){
  .navigation__item>a {
      padding: 0 5px;
    }
}

@media screen and (max-width: 540px){
    .navigation>ul {
        display: none;

    }
}

