.slider {
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: none;
  flex-grow: 1;
}

.slider__wrapper {
  display: flex;
  transition: transform 0.6s ease;
}

.slider__item {
  flex: 0 0 100%;
  max-width: 100%;
  font-family: 'LatoR', sans-serif;
  position: relative;
}

.slider__item-link {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  display: block;
}

.slider__item-submenu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: -12px;
  width: 114%;
  z-index: 10;
  transition: 0.5s ease-in-out opacity;
  list-style-type: none;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  background-color: #747573;
  border: 1px solid dimgray;
}

.slider__item-submenu--clothing {
  width: 128%; }

.slider__item-submenu--watches {
  width: 132%; }

.slider__item-submenu--jewellery {
  width: 122%; }

.slider__item-submenu--shoes {
  width: 162%;
  left: -16px; }

.slider__item-submenu > li > a {
  font-size: 15px;
  line-height: 30px;
  font-family: 'Heebo', sans-serif;
  color:black;
  cursor: pointer;
  text-decoration: none; }

.slider__item:hover .slider__item-submenu {
  visibility: visible;
  opacity: 1;
}

.slider__item-submenu > li > a:hover {
  color: #8a9ead; }

@media all and (max-width: 1024px){
  .slider {
    display: flex;
    align-items: center;
  }
 .slider__item {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media all and (max-width: 768px) {
  .slider {
    width: 100%;
  }
  .slider__item {
    flex: 0 0 50%;
    max-width:50%;
  }
  .slider__item-link{
    padding: 10px 0;
  }
}

.slider__control {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  height: 50px;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, .5);
}

.slider__control:hover,
.slider__control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: .9;
}

.slider__control_left {
  left: 0;
}

.slider__control_right {
  right: 0;
}

.slider__control::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider__control_left::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_right::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
